 *{
    margin: 0;
    padding: 0;
}
h1{
    margin: 1rem 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(138, 138, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 2rem;
    width: 25%;
    background-color: rgb(227, 227, 227);
    border-radius: 1.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.box {
    width: 70%;
    padding: 2rem;
    margin-top: 2rem;
    background: #ececec;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 1rem;
    width: 48%;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 0.6rem;
    cursor: pointer;

}
p{
    font-size: 1.2rem;
}


.btns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

