*{
    margin: 0;
    padding: 0;
}
body{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main{
    
    width: 40%;
    height: 20%;
    background-color: lightblue;
    padding: 3rem;
    border-radius: 1rem;

}
h1{
    margin-bottom: 1rem;
}
input{
    width: 90%;
    height: 3rem;
    font-size: large;
}
button{
    padding: 1rem;
}
#result{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1rem;
}