body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* justify-content: center; */
    align-items: center;
    background: rgb(223, 222, 222);
}
h1{
    text-align: center;

}  

.container {
    margin-top: 5rem;
    background:white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px grey;
    width:30%;
}
  
p{
    font-size: 1.2rem;
}
.file {
    background-color: rgb(234, 234, 234);
    margin-bottom: 10px;
    border-radius: 10px;
    padding:0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.success{
    color: green;
}
  
.failed {
    color: red;
}
 
#btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
button {
    border-radius: 10px;
    margin-top: 1rem;
    border: none;
    width: 30%;
    padding: .6rem;
    font-size: 16px;
    cursor: pointer;
    
}
  
button:disabled {
    background:  rgb(223, 222, 222);
}
  