*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.2rem;
    height: 100vh;
    width: 100vw;
    background-color: #852f90;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    background-color: #FAFCFF;
    color: #852f90;
    width: 50%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 80%;

    
}

button{
    width: 20%;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
    border: none;
    background-color: #852f90;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover{
    color: #852f90;
    background-color: white;

}
